/* color pallete */
/* https://coolors.co/e8ebe4-d2d5dd-b8bacf-999ac6-798071 */
body {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  font-family: "Cabin", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  background-color: lightsteelblue;
}

header {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

h1 {
font-size: 40px;}

main {
  display: flex;
  justify-content: center;
}

#calculator {
  border: 2px solid black;
  border-radius: 12px;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D2D5DD;
  box-shadow: 3px 3px  10px black;
}

#screen {
    border: 2px solid black;
    width: 360px;
    /* margin: 15px 0px; */
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px 0px;
    border-radius: 12px;
    font-weight: 400;
    /* background-color: #E8EBE4; */
    background-color: white;
}

#working {
  /* border: 1px solid black; */
  margin: 15px 10px;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#working::-webkit-scrollbar {
  display: none;
}

#result {
  /* border: 1px solid black; */
  height: 20px;
  margin: 15px 10px;
}

#button {
  /* border: 1px solid black; */
  padding-bottom: 20px;
  padding-top: 10px;
}

.row {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

button {
  width: 75px;
  height: 60px;
  margin: 5px;
  border-radius: 12px;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
}

button:hover {
    box-shadow: 1px 1px 1px;
    scale: 1.01;
}

#eq {
  width: 160px;
  background-color: #B8BACF;

}

.operator {
    /* background-color: #E8EBE4; */
    /* color: #798071; */
    /* font-weight: 900; */
}